postgresql/*
!postgresql/.gitkeep
!postgresql/data/.gitkeep
!postgresql/initdb.d/.gitkeep


mosquitto/config/*
!mosquitto/config/mosquitto.conf
mosquitto/data/*
!mosquitto/data/.gitkeep
mosquitto/logs/*
!mosquitto/logs/.gitkeep

influxdb/config/*
!influxdb/config/.gitkeep
influxdb/data/*
!influxdb/data/.gitkeep

homeassistant/config/home-assistant.log*
homeassistant/config/LICENSE
homeassistant/config/README.md
homeassistant/config/lox_token.cfg
homeassistant/config/secrets.yaml
homeassistant/config/.storage
homeassistant/config/custom_components/*
!homeassistant/config/custom_components/.gitkeep
homeassistant/config/www/*
!homeassistant/config/www/.gitkeep
homeassistant/config/.HA_VERSION



