# Don't track .env files
*.env
# Don't track secret files
secrets.yaml

# Don't track temporary data
__*

# Don't track vaultwarden data
vaultwarden

# Don't track caddy data
caddy/*
# But track Caddyfile
!caddy/Caddyfile

# Don't track some homeassistant files
homeassistant/config/.storage
homeassistant/config/home-assistant.log
homeassistant/config/custom_components
homeassistant/config/.HA_VERSION
homeassistant/config/lox_token.cfg

# Don't track grafana data
grafana

# Don't track influxdb data
influxdb

# Don't track mosquitto data
# But track mosquitto.conf
mosquitto/*
!mosquitto/config
mosquitto/config/*
!mosquitto/config/mosquitto.conf

# Don't track photoview data
photoview

# Don't track pihole data
pihole

# Don't track postgresql data
# But track postgresql init file
postgresql/*
!postgresql/init.sql

# Don't track syncthing data
syncthing

# Don't track vikunja data
# But track vikunja config
vikunja/*
!vikunja/config.yml

# Don't track webdav data
webdav

# Don't track wireguard-ui data
wireguard-ui

# Don't track www data folder
www

# Don't track shiori data
shiori

# Don't track homer data
# But track homer config
homer/assets/*
!homer/assets/config.yml
